
@import url('https://fonts.cdnfonts.com/css/simpsonfont');

body {
  background-image: url('https://i.pinimg.com/1200x/40/aa/56/40aa56d9b32e315806cb2ffb4598381c.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; 
   -ms-overflow-style: none;
  scrollbar-width: none;
}



h1, h2, h3, h4, h5, h6, .navbar-brand, .btn {
 font-family: 'Simpsonfont', sans-serif !important; 
  letter-spacing: 1px;
}
.simpson-font {
  font-family: 'Simpsonfont', sans-serif !important;
}

.hover-zoom {
  transition: transform 0.1s ease;
}
.hover-zoom:hover {
  transform: scale(1.05);
}
.xsmall {
  font-size: 1rem !important;
}

::-webkit-scrollbar {
  height: 12px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #FFD90F; /* Amarillo Simpson */
  border-radius: 10px;
  border: 2px solid #f1f1f1; 
}
body::-webkit-scrollbar {
  display: none;
}

.btn.btn-donut {
  background-color: #f29dbf !important;
  border: 2px solid #f29dbf !important; 
  color: white !important;
}
.btn.btn-donut:hover {
  background-color: #d67a9c !important;
  border-color: #d67a9c !important;
}
.btn.btn-outline-donut {
  background-color: transparent !important;
  border: 2px solid #f29dbf !important; 
  color: #f29dbf !important;
}
.btn.btn-outline-donut:hover {
  background-color: #f29dbf !important;
  color: white !important;
}
.btn-donut-icon {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 1.4rem !important;
}

.navbar {
  background-color: #1a472a; 
  border: 4px solid #e27d60; 
  position: relative;
  z-index: 1000;
}
/* Opcional: Si quieres que el texto de 'The Simpsons' (si fuera texto) sea blanco tiza */
.navbar-brand {
    color: white !important;
}